modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 20793
externalPort = 3002

[[ports]]
localPort = 24265
externalPort = 3000

[[ports]]
localPort = 25036
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_YWxpdmUtdG9ydG9pc2UtOTIuY2xlcmsuYWNjb3VudHMuZGV2JA"
GOOGLE_SHEET_ID = "1IV1O73AKZrWl4Io1qVAO5zBBQD5c7UXBPfE2XU92YgU"
